<!DOCTYPE HTML>
<html lang='en-US'>
<head>
	<meta charset='UTF-8' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge' />
	<meta name='description' content='First Node/ExpressIO assignment' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<meta name='author' content='Martin Puryear' />

	<link rel='stylesheet' type='text/css' href='/bootstrap-3.0.3-dist/dist/css/bootstrap.min.css' />
	<link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />

  <title><%= title %></title>

	<script type='text/javascript' src='/JQuery/v1.10.2/jquery.min.js'></script>
	<script type='text/javascript' src='/bootstrap-3.0.3-dist/dist/js/bootstrap.min.js'></script>
	<script type='text/javascript' src='/socket.io/socket.io.js'></script>

	<script type='text/javascript'>
	
		var io = io.connect('http://localhost:6789'); 
    var namestr;

		$(document).ready(function ()
		{
			io.emit('ready');
      console.log('EMIT: ready')

      nameStr = prompt('Your name:');     
      io.emit('new_user_requested', { user_name: nameStr });
      console.log('EMIT: new_user_requested')

      io.on('error_new_user', function(errorMsg)
        {
          console.log('RECEIVED: error_new_user')
          alert(errorMsg.error);
          nameStr = prompt('Your name:');     
          io.emit('new_user_requested', { user_name: nameStr });
          console.log('EMIT: new_user_requested')
        });
  
      io.on('new_user_arrived', function(msg)
        {
          console.log('RECEIVED: new_user_arrived');
          log_msg(msg);
        });

      io.on('user_disconnected', function(msg)
        {
          console.log('RECEIVED: user_disconnected')
          log_msg(msg);
        });

      io.on('new_msg_arrived', function(msg)
        {
          console.log('RECEIVED: new_msg_arrived')
          log_msg(msg);
        });

      io.on('state_of_the_world', function(full_log)
        {
          $('h3').html("Group Chat - " + nameStr);

          console.log('RECEIVED: new_user_arrived');
          full_log.all_messages.forEach(function(item)
            {
               log_msg(item);
            });
        });

      function log_msg(item)
      {
        log_str = '<span>' + item.user_name + '</span>:\t' + item.message;
        console.log('log_msg: ', log_str);
        $('#message-board').prepend('<div>' + log_str + '</div>');
      }

      $('#new-msg-form').submit(function(evt)
        {
          var input_array = $(this).serializeArray();
          console.log(input_array);
          var json_obj = {};
          $('#msg-input').val('');

          $.each(input_array, function()
            {
              json_obj[this.name] = this.value || '';
            });

          io.emit('posting_new_msg', { json_msg: json_obj } );
          console.log('EMIT: posting_new_msg');
          log_msg({ user_name: nameStr, message: json_obj.message });

          return false;
        });

		});

	</script>
</head>

<body class='container-fluid'>

  <h3></h3>

  <form action='#' method='post' id='new-msg-form' class='form-vertical'>

    <input type='text' id='msg-input' name='message' class='form-control' placeholder='send a message to everyone' autofocus />
    <input type='submit' id='msg-submit' class='btn btn-primary' value='Send' />

  </form>

  <div id='message-board'></div>

</body>
</html>
